<nav class="nav">
  <a class="nav-link active" href="#">Index</a>
  <a class="nav-link" href="#" routerLink="/Customer">Customers</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<div class="container-fluid">
  <table class="table table-light ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">CPF</th>
      </tr>
    </thead>
    <tbody  *ngFor="let customer of customers">
      <tr>
        <th scope="row">{{ customer.Id }}</th>
        <th scope="row">{{ customer.Nome }}</th>
        <th scope="row">{{ customer.DataNascimento | date:'dd/MM/yyy' }}</th>
        <th scope="row">{{ customer.Cpf }}</th>
        <th><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#customerModal" (click)="GetCustomer(customer)">Edit</button></th>
        <th><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#customerModal">Delete</button></th>
      </tr>
    </tbody>
  </table> 
</div>
<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">New</button>
</div>

<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Nome</label>              
              <input type="text" [(ngModel)]="customer.Nome" name="nome" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group col-md-4">
              <label>Data de nascimento</label>
              <!--<input ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" class="form-control date datetimepicker"  [(ngModel)]="customer.DataNascimento"
                data-format="date" > -->
                <input type="date" class="form-control" [(ngModel)]="customer.DataNascimento">
            </div>
            <div class="form-group col-md-4">
              <label>CPF</label>
              <input type="text" class="form-control" placeholder="CPF" [(ngModel)]="customer.Cpf" >
            </div>
          </div>       
      </div>
      <div class="modal-footer">
        <p>{{ msg }}</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SaveCustomer()">Save</button>
      </div>
    </div>
  </div>
</div>



